body {
  font-family: "Lucida Console", "Courier New", monospace;
  line-height: 21px;
  font-size: 13px;
  color: #0077b3;
  background: #000011;
  min-height: 100vh;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

figure,
p {
  margin: 0;
}

a {
  color: #fff;

  -webkit-transition: all .3s ease-in 0s;
  -moz-transition: all .3s ease-in 0s;
  -ms-transition: all .3s ease-in 0s;
  -o-transition: all .3s ease-in 0s;
  transition: all .3s ease-in 0s;
}

a,
a:focus,
a:hover {
  text-decoration: none !important;
  outline: 0;
}

a:focus,
a:hover {
  color: #0077b3;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0;
}

span.color {
  color: #0077b3;
}

body>section,
.footer {
  padding: 70px 0;
}

.devider {
  margin: 30px 0 0 0;
}

.devider i {
  color: #cccccc;
}

.devider:before,
.devider:after {
  content: "______________________";
  color: #e6e8ea;
  position: relative;
  bottom: 6px;
}

@media only screen and (max-width: 410px) {

  .devider:before,
  .devider:after {
    content: "___";
    color: #e6e8ea;
    position: relative;
    bottom: 6px;
  }
}

.devider:before {
  right: 10px;
}

.devider:after {
  left: 10px;
}

.mb50 {
  margin: 0 0 50px 0;
}

#navigation {
  background-color: rgba(16, 22, 54, 0.2) !important;
  border: 0 none;
  margin: 0;

  -webkit-transition: background-color 800ms linear;
  -moz-transition: background-color 800ms linear;
  -ms-transition: background-color 800ms linear;
  -o-transition: background-color 800ms linear;
  transition: background-color 800ms linear;
}

.navbar-toggle i {
  color: #fff;
}

.navbar-nav li a {
  border-top: 1px solid transparent;
}

.navbar-nav li a.current,
.navbar-nav li a:focus,
.navbar-nav li a:hover {
  background-color: transparent;
  border-top: 2px solid white;
  color: #fff;
}

#slider {
  padding: 0;
}

#slider .carousel-inner .item {
  background-size: cover;
}

.carousel-caption {
  top: 60%;
}

.carousel-caption h2 {
  font-size: 62px;
  font-weight: 300;
}

.carousel-caption h2 span {
  font-weight: 800;
}

.carousel-caption h3 {
  font-size: 48px;
  font-weight: 300;

}

.carousel-caption p {
  color: #fff;
  font-size: 18px;
  font-weight: 300;
}

.carousel-caption p:before,
.carousel-caption p:after {
  color: #0077b3;
  content: "___";
  position: relative;
  top: -8px;
}

.carousel-caption p:before {
  right: 20px;
}

.carousel-caption p:after {
  left: 20px;
}

.social-links {
  margin: 5% 0 0 0;
}

.social-links li {
  display: inline-block;
}

.social-links li a {
  color: #0077b3;
  display: block;
  margin: 0 6px;
}

.social-links li a:hover {
  color: #fff;
}

.features {
  background-color: #f4f7f9;
}

.service-icon {
  float: left;
  padding: 10px 13px;
  z-index: 5000;
}

.service-desc {
  margin: 0 0 0 70px;
  position: relative;
  top: 5px;
}

.service-desc h3 {
  color: #062033;
  font-size: 20px;
  font-weight: 600;
  margin: 0 0 25px 0;
}

.custom-link {
  color: #000;
  font-size: larger;
  display: inline-block;
}

.custom-link:hover {
  color: #0077b3;
}

.meloan {
  width: 3em;
  width: 3em;
  transition: filter 0.4s;
}

.center-img {
  display: inline;
  left: 50%;
  margin: 0 0 0.5rem 0;
}

.service-icon-img {
  z-index: 5000;
  margin: 0 0 1rem 0;
}

.ul-center {
  display: inline-block;
}

.block {
  display: block;
  line-height: 2.5em;
}

.center-img-meloan {
  width: 120px;
  height: 59px;
}

.center-img-lupi {
  width: 59px;
  height: 59px;
}

.name-text {
  width: 100%;
  position: absolute;
  display: inline-block;
  font-size: xx-large;
  color: white;
  z-index: 100;
  top: 90%;
  text-align: center;
}

.background-wh {
  background: white;
  border-radius: 30px;
}

.mountain-bg {
  width: 100%;
  height: 100vh;
}

.mountain {
  position: inherit;
  z-index: 3;
  transform: scale(1.1);
}

.clouds {
  position: inherit;
  z-index: 2;
}

.bg {
  position: inherit;
  z-index: 1;
}

.ground {
  position: inherit;
  z-index: 4;
}

.ground-ice {
  position: inherit;
  z-index: 4;
  transform: scale(1.1);
}

.ground-psychic {
  position: inherit;
  z-index: 2;
  transform: scale(1.1);
}

.clouds-water {
  position: inherit;
  z-index: 2;
  transform: scale(1.1);
}

.clouds-electric {
  position: inherit;
  z-index: 2;
  transform: scale(1.2);
}